<template>
    <div class="container-fluid content">
        <div class="row my-1">
            <div class="col-3 col-xl-2 content-menu">
                <div class="card mt-3">
                    <div class="card-header">
                        <h5>Car Configurations</h5>
                    </div>
                    <div class="card-body content">
                        <SidebarComponent :items="listItems" @list-item-click="handleListItemClick"></SidebarComponent>
                    </div>
                </div>
            </div>
            <div class="col-9 col-xl-10 content-data">
                <div class="card mt-3">
                    <div class="card-body">
                        <router-view name="main"></router-view>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import router from '../router';
import Sidebar from '../components/Sidebar.vue';
import ListItem from '../models/ListItemModel';

@Component({
    components: {
        'SidebarComponent': Sidebar
    }
})
export default class CarConfigurator extends Vue {
    private listItems: ListItem[] = [
        new ListItem({id: '0', name: 'Car configuration 1'}),
        new ListItem({id: '1', name: 'Car configuration 2'}),
        new ListItem({id: '2', name: 'Car configuration 3'}),
        new ListItem({id: '3', name: 'Car configuration 4'}),
    ];

    private handleListItemClick(item: ListItem) {
        if (item && item.id) {
            this.$router.push({ name: 'viewCarConfiguration', params: { carConfigId: item.id } });
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
