<template>
  <div class="home">
    <nav class="navbar navbar-primary" role="navigation">
      <div class="logo">
        <h2>Awesome<strong>Cars</strong></h2>
      </div>
      <ul class="nav-links">
        <li class="nav-item" v-if="!userLoginStatus">
          <router-link :to="{ name:'login' }">Login</router-link>
        </li>
        <li class="nav-item" v-if="userLoginStatus">
          <ul class="nav navbar-nav navbar-user">
            <li class="nav-item">
              <a class="dropdown-toggle" href="javascript:void(0);" id="user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-user mr-1" aria-hidden="true"></span>Logged in
              </a>
              <div class="dropdown-menu dropdown-menu-right nav-dropdown" aria-labelledby="user-dropdown">
                <router-link class="dropdown-item" :to="{name: 'carConfigurator'}">Car Builder</router-link>
                <div class="dropdown-divider"></div>
                <router-link class="dropdown-item" :to="{name: 'login'}" @click.native="handleLogOut">Log Out</router-link>
              </div>
            </li>
          </ul>
        </li>
      </ul>
  </nav>
    <router-view name="main"/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class Home extends Vue {
  private get userLoginStatus() {
    return this.$store.state.userLoggedIn;
  }
  private handleLogOut() {
    this.$store.dispatch('setUserLogIn', false);
  }
}
</script>
<style lang="scss">
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 10px;

    .logo {
      display: inline-block;
    }
    &.navbar-primary{
      background-color: #619edb;

      .dropdown-menu {
        position: absolute;
      }
      .nav-links {
        display: flex;
        list-style: none;

        .nav-item a {
          align-content: center;
          display: inline-block;
          padding: 0px 15px;
          text-decoration: none;
          font-weight: bold;
          color: #2c3e50;
          // &.router-link-exact-active {
          //   color: #42b983;
          // }
        }
      }
    }
  }
</style>