<template>
    <div>
        <h5 class="card-title">View Car Configuration - {{ $route.params.carConfigId }}</h5>
        <!-- <br><br><br><br><br><br><br><br><br><br><br> -->
    </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class ViewCarConfig extends Vue {
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
