<template>
  <div class="login-form">
    <form @submit.prevent="handleFormSubmit">
        <h2 class="text-center">Log in</h2>       
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" v-model="username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" v-model="password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
    </form>
</div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import router from '../router';

@Component
export default class LoginForm extends Vue {
    @Prop() private msg!: string;
    private username: string = '';
    private password: string = '';

    private get reversePassword() {
        var splitString = this.password.split("");
        var reverseArray = splitString.reverse();
        var joinArray = reverseArray.join("");
        return joinArray;
    }

    private handleFormSubmit() {
        if (!this.username || !this.password) {
            alert("Please fill in both username and password");
        } else if (this.username === this.reversePassword) {
            router.push({name: "carConfigurator"});
            this.$store.dispatch('setUserLogIn', true);
        } else {
            alert("the provided credentials are incorrect")
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.login-form {
		width: 340px;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>
