<template>
    <div>
        <ul class="list-group list-group-flush">
            <router-link class="list-group-item"
                v-for="(item, key) in items" 
                :key="`item-${key}`" 
                :to="{name: 'viewCarConfiguration', params: {carConfigId: item.id}}" >
                {{item.name}}
            </router-link>
        </ul>
    </div>
</template>


<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import ListItem from '@/models/ListItemModel';

@Component
export default class Sidebar extends Vue {
    @Prop() public readonly items?: ListItem[];
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
